:root {
  font-family: "Montserrat", sans-serif;
  --primary-color: #ffffff;
  --secondary-color: #dc2626;
  --base-color: #232323;
}

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* * {
  border: 1px solid black;
} */

a {
  text-decoration: none;
  color: var(--base-color);
  font-weight: 400;
}

header {
  display: flex;
  padding: 1.5rem 5rem;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

header.header-scroll-active {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.6px);
  -webkit-backdrop-filter: blur(12.6px);
  transition: 0.3s ease-in-out;
}

nav a {
  margin: 1rem;
}

nav a:nth-child(4) {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 0.5rem 1rem;
  transition: 0.2s ease-in-out;
}

nav a:nth-child(4):hover {
  border-right: 3px solid var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
}

#hamburger-menu {
  display: none;
}

/* HERO */
.hero-section {
  background-image: radial-gradient(
      ellipse 50vw 50vh at right bottom,
      rgba(220, 38, 38, 100),
      rgba(255, 0, 0, 0.25),
      transparent
    ),
    radial-gradient(
      ellipse 30vw 30vh at left top,
      rgba(255, 0, 0, 0.1),
      rgba(255, 0, 0, 0.25),
      transparent
    );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem 4rem;
}

.hero-section::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 10%,
    rgba(255, 255, 255, 0) 100%
  );
}

.hero-section h1 {
  font-weight: 700;
  font-size: 4rem;
}

.hero-section p {
  line-height: 1.5;
  margin-top: 1rem;
  font-weight: 300;
  font-size: 1.5rem;
}

p {
  color: var(--base-color);
}

h1 {
  color: var(--base-color);
}

h1 span {
  color: var(--secondary-color);
}

.hero-section a {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  padding: 0.5rem 3rem;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
/* HERO */

/* TENTANG SAYA */
main {
  margin: 3rem 5rem;
}

main h2 {
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--base-color);
}

main #tentangsaya h2 {
  margin-bottom: 1rem;
}

main #tentangsaya .foto-diri img {
  width: 100%;
  box-shadow: 9px 8px 34px -5px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 9px 8px 34px -5px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 9px 8px 34px -5px rgba(0, 0, 0, 0.59);
}

main h2 span {
  color: var(--secondary-color);
}

main #tentangsaya p {
  max-width: 80%;
  line-height: 1.5;
  font-size: 1.4rem;
  color: var(--base-color);
  font-weight: 300;
}

main #tentangsaya {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2rem;
}
/* TENTANG SAYA */

/* SKILL */
.skill-section {
  padding-top: 7rem;
}

.skill-section p,
.skill-section h2 {
  text-align: center;
  line-height: 1.5;
  font-size: 1.4rem;
  color: var(--base-color);
  font-weight: 300;
}

.skill-section h2 {
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--base-color);
}

.wrapper-card {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.wrapper-card h4 {
  color: var(--secondary-color);
  font-size: 2rem;

  font-weight: 600;
}

.wrapper-card p {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;
}

#skill .skill-section .wrapper-card .card {
  width: 400px;
  /* background-color: black;
  border: 1px solid var(--secondary-color); */
  padding: 2rem 4rem;
  text-align: center;
}

/* SKILL */

/* KONTAK */
.container-kontak {
  padding: 5rem;
  height: 100vh;
  /* width: 100%; */
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

form .input-group {
  margin: 0.5rem 1rem;
}

form .input-group input,form .input-group textarea {
  max-width: 600px;
  padding: 1rem 2rem;
  font-size: 1rem;
}

form > #btn{
  display: block;
  color: var(--secondary-color);
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  padding: 1rem 2rem;
  font-size: 1.4rem;
  max-width: 300px;
  margin: 1rem auto;
  transition: 0.3s ease-in-out;
}

form #btn:hover {
  border-right: 3px solid var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
}

.container-kontak h2 {
  margin-bottom: 2rem;
}
/* KONTAK */

/* FOOTER */
footer {
  display: flex;
  background-color: #dc2626;
  justify-content: center;
}

.wrapper-footer {
  padding: 2rem 4rem;
  text-align: center;
}

.logo-medsos {
margin: 1rem;
}

.logo-medsos a {
  padding: 1rem;
  color: var(--primary-color);
}

.links a {
  padding: 0.5rem;
  color: var(--primary-color);
  transition: .2s ease-in-out;
}

.links a:hover {
  opacity: 0.6;
}

.credit p {
  color: var(--primary-color);
  opacity: 0.7;
  margin: 1.5rem 0;

}

/* FOOTER */

/* Media Queries */
@media screen and (max-width: 900px) {
  html {
    font-size: 72.5%;
  }

  body {
    overflow-x: hidden;
  }

  nav a {
    display: block;
  }

  nav {
    position: absolute;
    width: 100%;
    top: 5rem;
    right: 0;
    padding: 2rem 4rem;
    transition: 0.3s ease-out;
    visibility: hidden;
    transform: scale(0);
    background: rgba(255, 255, 255, 0.02);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
  }

  .navbar.active {
    transform: scale(1);
    visibility: visible;
  }

  nav a:nth-child(4) {
    text-align: center;
  }

  #hamburger-menu {
    display: flex;
    color: var(--base-color);
  }

  main #tentangsaya p {
    max-width: 100%;
  }

  main #tentangsaya {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 62.5%;
  }
}
/* Media Queries */
